target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
back-end-server/.idea

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
front-end/.DS_STORE
front-end/node_modules
front-end/scripts/flow/*/.flowconfig
front-end/scripts/rollup/results.json
front-end/*~
front-end/*.pyc
front-end/.grunt
front-end/_SpecRunner.html
front-end/__benchmarks__
front-end/build/
front-end/remote-repo/
front-end/coverage/
front-end/.module-cache
front-end/fixtures/dom/public/react-dom.js
front-end/fixtures/dom/public/react.js
front-end/test/the-files-to-test.generated.js
front-end/*.log
front-end/chrome-user-data
front-end/*.sublime-project
front-end/*.sublime-workspace
front-end/.idea
front-end/*.iml
front-end/.vscode
front-end/*.swp
front-end/*.swo
